absl-py
astunparse
cachetools
certifi
charset-normalizer
click==
colorama
distlib
filelock
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
itsdangerous
Jinja2
keras
libclang
Markdown
MarkupSafe
numpy
oauthlib
opt-einsum
packaging
Pillow
platformdirs
protobuf
pyasn1
pyasn1-modules
pyparsing
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
typing_extensions
urllib3
virtualenv
waitress
Werkzeug
wrapt
